<%= search_in(Therm) %>
<h2>Словарь</h2>

<div class="letters_links">
  <div><%= @ru_links %></div>
  <div><%= @en_links %></div>
</div>
<%= will_paginate(@therms) %>
<ul id="therms">
<% current_first_letter,first_letter=nil %>
<% @therms.each do |therm| %>
  <% current_first_letter = therm.name.first.mb_chars.upcase.to_s  %>
  <%=  "<span class='first_letter'><a name='#{current_first_letter}' >#{current_first_letter}</span>" unless first_letter == current_first_letter %>
  
 
  <li><%= link_to therm.name, therm_path(therm.name) %></li>
  <% first_letter = current_first_letter %>
<% end %>
</ul>
<%= will_paginate(@therms) %>
