<ul>
<% for page in @pages %>
  <li style="list-style:none"><a href="/<%=page.permalink%>"><%=page.name%></a>
  <div class='admin_edit_actions' style="font-size:10pt;  padding-bottom:7px">
    <%= link_to image_tag("/images/edit_ico.gif",:alt=>"Редактировать"), edit_admin_page_path(page) %>
     | <%=link_to image_tag("/images/delete_ico.gif",:alt=>"Удалить"), admin_page_path(page), :method => :delete, :confirm => 'подтвердите удаление'%>
  </div>
  </li>
<%end%>
</ul>

<%= link_to 'Добавить страницу', new_admin_page_path %>