<%= search_in(DealingCenter) %>


<h2>Диллинговые центры</h2>

<ul class="blocked_list">
<% @dealing_centers.each do |dc| %>
  <li>
      <a name="<%= dc.id %>"></a>
      <h3><%= dc.name %></h3>
      <p><%= "сайт: "+link_to(dc.url, dc.url) unless dc.url.nil?%></p>
      <p><%= dc.description %></p>
      <% users = dc.users %>
      <% unless users.empty? %>
        <%= "<p><a href='#' class='toggle_hidden'>#{users.size.propisju_items(1, "человек", "человека", "человек")} </a>, используют данный ДЦ</p>" unless users.empty? %>
        <ul class="blocked_list hidden">
        <% users.each do |user| %>
          <li><%= link_to user.name_or_login, user_path(user) %></li>
        <% end %>
        </ul>
      <% end %>
  </li>
<% end %>
</ul>
<%= will_paginate(@dealing_centers) %>
