<%= javascript_include_tag :fckeditor %>

<%= error_messages_for :article %>
<%form_for [@catalogue,@article], :html => { :multipart => true } do |f|%>

<p>
    <%= f.label 'относится к каталогу:' %><br />
    <%= f.select :catalogue_id, nested_set_options(Catalogue) {|i| "#{'--' * i.level} #{i.name}" } %>
</p>

<p>
<%= f.label 'Название' %><br />
<%=f.text_field :name%>
</p>

<p>
<%= f.label 'Краткое описание' %><br />
<%=f.text_field :short%>
</p>

<p>
<%= f.label 'Статья' %><br />
<%= fckeditor_textarea(:article, :content, :toolbarSet => 'Simple', :width => '98%', :height => '300px') %>
</p>
<p>
<%= f.label 'Теги (через запятую)' %><br />
<%=text_field_tag 'tags', (@article.tag_list unless @article.new_record?)%>
</p>
<% if moderator? %>
  <p><%= f.label 'модерирована, показывать всем' %> да <%= f.radio_button :temp, "false", :checked => (@article.temp? ? false:true)  %>
  нет <%= f.radio_button :temp, "true" %></p>
  <% if @article.temp? %>
    <p><%= f.label Settings.rating.bonus.for_article.to_s+' баллов автору за статью' %> да <%= radio_button_tag :rate, "true" %>
    нет <%= radio_button_tag :rate, "false", true %></p>
  <% end %>
<% end %>

<p>
<%=f.submit 'Сохранить изменения' %>
</p>
<%end%>

