<div style=" width: 655px">
      <div class="left">
              <h4 class="title" style="margin-left:0px; display:inline; "><%= contest.name %></h4> <%=  "<small>(прошедший конкурс)</small>" unless current_contest %> <a href="#conditions" class="lblue" style="font-size:11px " rel="facebox">Условия конкурса</a>
              <p class="small">Начало <%= "текущего" if current_contest %> конкурса <span><%= contest.date_start.to_date %></span></p>
              <p class="small">Окончание <span><%= contest.date_end.to_date %></span></p>
              <p class="small">Подведение итогов <span><%= contest.date_total.to_date %></span></p>
              <p class="small">Приз <span>$<%= contest.prize %></span> <a href="#rules" class="lblue" style="font-size:11px " rel="facebox">Правила участия</a></p>
      </div>
      <div class="right_box">
              <div class="right">
                      <div class="rate1">Лидеры (TOP 5)</div>
                      <div class="rate2">Рейтинг</div>
                      <% i=0 %>
                      <% top_users.each do |user| %>
                        <% i+=1 %>
                        <div class="rate_name"><%=i%>. <%= link_to user.name_or_login, user_path(user), :class => "short_info", :rel => "user_"+user.id.to_s %></div>
                        <div class="rate_rate"><div style="width:<%= user.percent_rating_for_contest(contest)%>% "></div></div>
                        <div style="display:none" id="user_<%= user.id.to_s %>"><%= short_info(user) %></div>
                      <% end %>
              </div>
              <div class="mfooter"></div>
              <div class="rate_name" style="margin-left: 20px;*margin-left: 10px;border: 0px"><%= link_to "Все участники", users_contest_path(contest) %> (<%= users_number %>)</div>
      </div>
      <div class="mfooter"></div>
</div>
<div class="mfooter"></div>

<a name="conditions"></a>
  <div id="conditions">
    <%= javascript_tag "$('#conditions').hide();" %>
    <h3>Условия конкурса</h3>
    <%= contest.description %>
  </div>

<a name="rules"></a>
  <div id="rules">
    <%= javascript_tag "$('#rules').hide();" %>
    <h3>Правила участия</h3>
    <%= contest_rules if contest_rules %>
  </div>