<script type="text/javascript">
  $(document).ready(function(){
    get_archive(1,false);
  });

</script>


<%=  page_title("Конкурс рейтингов") %>
<%= meta @contest %>
<div style="width:100%; height:40px;">
        <div class="text" style="margin:10px; float:left"><a href="#rules" class="lblue" style="font-size:11px " rel="facebox">Правила участия</a></div>
        <div class="additional" style="float:right; *margin-right:10px;"><p><b>Сумма призов на <%= Date.today.to_date %> составила  <span style="color:#815646">$<%= @total_prize %></span></b></div>
</div>
<%= contest_info(@contest) %>

<div id="archive"></div>
<% unless @rules.nil? %>
  <a name="rules"></a>
  <div id="rules">
    <%= javascript_tag "$('#rules').hide();" %>
    <h3><%= @rules.name %></h3>
    <%= @rules.content %>
  </div>
<% end %>