<script type="text/javascript">
  $(document).ready(function(){
    get_archive(1,false);
  });

</script>


<%=  page_title("Конкурс рейтингов") %>
<%= meta @contest %>
<div style="width:100%; height:40px;">
        
        <div class="additional" style="float:right; *margin-right:10px;"><p><b>Сумма призов на <%= Date.today.to_date %> составила  <span style="color:#815646">$<%= @total_prize %></span></b></div>
</div>
<%= contest_info(@contest) %>

<div id="archive"></div>

