
<h3>Участники акции</h3>

<h4>*Данные за период акции</h4>
<table class="contest_users">
  <tr><th>Участники</th><th>Рейтинг</th><th>Статей</th><th>Дополнений</th></tr>
  <% for user in @users %>
  <tr>
    <td><%= link_to user.name_or_login, user_path(user), :class => "short_info", :rel => "user_"+user.id.to_s %>
    <div style="display:none" id="user_<%= user.id.to_s %>"><%= short_info(user) %></div>
    </td>
    <td class="rate_cell"><div style="width:<%= user.percent_rating_for_contest(@contest)%>% "></div></td>
    <td class="article_cell"><%= user.articles_for_contest(@contest) %></td>
    <td class="addition_cell"><%= user.additions_for_contest(@contest)%></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @users %>
<br><br><%= link_to 'Вернуться на страницу "Конкурс рейтингов"', contest_path(@contest) %>