<h2 style="margin-top:30px; ">Профайл</h2>
<div id="common_article">
  <div id="common_left">
    <div class="photo"><%= image_tag @user.avatar.url(:normal), :style=>"padding:10px;", :class=>"photo" %>
    <h3><%= @user.name_or_login %></h3>
    <% unless @user.dealing_center.nil? %>
      <h3>Диллинговый центр <%= link_to @user.dealing_center.name, "http://"+@user.dealing_center.url %></h3>
    <% end %>
    <% article_count = Article.count(:conditions=>["user_id=:user_id",{:user_id=>@user.id}]) %>
    <% unless article_count==0 %>
      <h3><%= link_to 'Статьи автора', user_articles_path(@user) %> (<%= article_count %>)</h3>
    <% end %>

    </div>
    <div class="mfooter"></div>
    <div class="hr" style="margin-bottom:10px; "><hr /></div>
    <% if admin? || current_user==@user %>
    <div class="names"><b>Персональные данные</b></div>
    <div class="mfooter"></div>
    <% if @user.show_name? || current_user==@user || admin? %>
      <div class="names">Имя</div>
      <div class="values"><%= @user.first_name %></div>
      <div class="mfooter"></div>
      <div class="names">Фамилия</div>
      <div class="values"><%= @user.last_name %></div>
      <div class="mfooter"></div>
    <% end %>
    <div class="names">Логин</div>
    <div class="values"><%= @user.login %></div>
    <div class="mfooter"></div>
    <div class="names">E-mail</div>
    <div class="values"><%= @user.email %></div>
    <div class="mfooter"></div>
    <div class="names">Статус</div>
    <div class="values"><%= @user.status_string %></div>
    <div class="mfooter"></div>
    <div class="names">Имя</div>
    <div class="values"><%= @user.name %></div>
    <div class="mfooter"></div>
    <br>
    <div class="names">ICQ</div>
    <div class="values"><%= @user.icq %></div>
    <div class="mfooter"></div>
    <div class="names">Skype</div>
    <div class="values"><%= @user.skype %></div>
    <div class="mfooter"></div>
    <div class="names">Yahoo messenger</div>
    <div class="values"><%= @user.yahoo %></div>
    <div class="mfooter"></div>
    <div class="names">MSN</div>
    <div class="values"><%= @user.msn %></div>
    <% end %>
  </div>
  <div id="rightbar">
          <div class="rate_box">
                  <div style="margin-bottom:10px; "><b>Рейтинг</b></div>
                  <div class="rate_total">Общий <span style="color:#3f843f "><%= (@user.stat_rating.nil? ? 0 : @user.stat_rating.rating_total) %></span></div>
                  <% if current_contest %>
                    <div class="rate_total">За текущую акцию <span style="color:#3f843f "><%= @user.stat_rating_total_for_contest(current_contest) %></span></div>
                  <% end %>
                  <div class="rate_total">Средний балл <span style="color:#3f843f "><%= (@user.stat_rating.nil? ? 0 : @user.stat_rating.rating_avg) %></span></div>
          </div>
          <div class="names">Дополнений <span style="color:#3f843f "><%= Addition.count(:conditions=>["user_id=:user_id",{:user_id=>@user.id}]) %></span></div>
          <div class="names">Комментариев <span style="color:#3f843f "><%= Comment.count(:conditions=>["user_id=:user_id",{:user_id=>@user.id}]) %></span></div>
          <div class="names">Статей <%= (article_count==0 ? 0 : link_to(article_count, user_articles_path(@user)) )%></div>
          <div class="mfooter" style="margin-bottom:5px; "></div>
          <% unless @user_tags.empty? %>
            <div class="ad">
                <% tag_cloud @user_tags, %w(a b c d) do |tag, css_class| %>
                  <%= link_to tag.name, { :controller => :articles, :action => :tag, :id => tag.name }, :class => css_class %>
                <% end %>
            </div>
          <% end %>
  </div>
  <div class="mfooter" style="margin-bottom:5px; "></div>
</div>

<%= link_to 'Редактировать', edit_account_path if @user==current_user && !admin?%>
<%= link_to 'Редактировать', edit_user_path(@user) if admin?%>

