<%= search_in(Video) %>

<h2 style="margin-top:30px; ">Видео</h2>
<%= will_paginate(@videos) %>

<% for video in @videos %>
  <div class="links_row video_row" ><%= image_tag video.screenshot.url(:thumb) %><%= video==@video ? "<span>"+video.name+"</span>" : link_to(video.name, video_path(video)) %><p><%= video.description %></p></div>
<%end%>

<%= will_paginate(@videos) %>