<h2 style="margin-top:30px; ">Видео</h2>
<h3 style="margin-top:30px; "><%= @video.name %></h3>

<div class="video">
<object type="application/x-shockwave-flash" data="/swf/uflvplayer.swf" height="385" width="640"><param name="bgcolor" value="#FFFFFF" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="movie" value="/swf/uflvplayer.swf" /><param name="FlashVars" value="way=<%= @video.video.url %>&amp;swf=/swf/uflvplayer.swf&amp;w=640&amp;h=385&amp;pic=http://&amp;autoplay=0&amp;tools=1&amp;skin=grey&amp;volume=70&amp;q=1&amp;comment=forexwk.com" /></object>
</div>
<div class="video_info">
  <p class="links_row"><%= @video.description %></p>
  <div class="mfooter"></div>
</div>

<% for video in @videos %>
  <p class="links_row"><%= video==@video ? "<span>"+video.name+"</span>" : link_to(video.name, video_path(video)) %> <%= video.description %></p><br>
<%end%>

