

<select <%= "size='#{size}'" if size %> <%= "class='#{class_name}'" if class_name %> <%= "name='#{name}'" if name %> <%= "id='#{id}'" if id %> <%= multiple if multiple %> <%= "trend_data_id='#{trend_data.id}'" if trend_data %> >
  <% all_currency_pairs.each do |pair| %>
    <option value="<%= pair.name %>" <%= "style='color:#{pair.color}' denied='#{!current_user ? 'all':1}'" if pair.denied %> ><%= pair.title %></option>
  <% end %>
</select>


