<%= page_title(@book.name) %>
<%= meta @book %>

<span class="date"><%= @book.author %></span>
<p><%= @book.description %></p>

<h3>Содержание</h3>
<p><%= @book.contents %></p>

<%= link_to "скачать книгу", @book.book.url(:original)  unless @book.book_file_name.nil? %>