<table>
  <th>запрос&nbsp;</th><th>&nbsp;результатов&nbsp;</th><th>&nbsp;запросов&nbsp;</th><th></th>
  <% for query in @queries %>
  <tr class="query_<%=query.id%>">
    <td style="width:100px"><%= query.query %></td>
    <td style="text-align:center"><%= query.results %></td>
    <td style="text-align:center"><%= query.queries %></td>
    <td><%= link_to_ajax_delete(admin_query_path(query), query) %></td>
  </tr>
<%end%>
</table>
