
<% if params[:type] %>
  <%= search_in(params[:type].classify.constantize) %>
<% end %>

<%  result_class="" %>



<% unless @results.empty? %>
  <p>результатов: <%= @results.total_hits %></p>
  <% @results.each do |result| %>
    <%
    case dom_class(result)
      when  "article"
        where = "В статьях"
      when  "addition"
        where = "В дополнениях к статьям"
      when  "therm"
        where = "В терминах"
      when  "user"
        where = "Пользователи"
      when  "books"
        where = "Книги"
      when  "videos"
        where = "Видео"
      when  "events"
        where = "События"
      else
        where = "На страницах"
    end
    %>
      <%= "<h3>"+where+"</h3>" unless result_class==dom_class(result) %>
      <%  result_class=dom_class(result) %>
      <%= render :partial => "searches/#{dom_class(result)}", :locals=>{:result=>result} %>
  <% end %>

  <%= will_paginate @results%>
<% else %>
  По вашему запросу ничего не найдено. Попробуйте изменить запрос.
<% end %>


