<% nil_catalogue = true if @catalogue.nil? || (@catalogue.new_record? unless @catalogue.nil?)  %>
<ul>
<% for item in items %>
  <li  <%  unless nil_catalogue %> 
        <%= "class ='marked'" if item.is_ancestor_of? @catalogue %>
        <%= "class ='active'" if item==@catalogue %>
       <% end %> >
  
      <% unless item==@catalogue %>
        <%= link_to item.name, catalogue_articles_path(item) %>
        <%= sub_items_menu(item){|i| render :partial=>"catalogues/catalogue_sub_item.html.erb", :locals =>{:item=>i} } unless item.leaf? ||  nil_catalogue || (!item.is_ancestor_of?(@catalogue) unless nil_catalogue)%>
      <% else %>
        <%= item.name %>
      <% end %>
  </li>
<% end %>
</ul>
