
<%= javascript_include_tag 'ui.core.js' %>
<%= javascript_include_tag 'jquery.sortable.min.js' %>
<%= javascript_include_tag 'own.sortable.js' %>

<%= error_messages_for :catalogue %>
<%form_for [:admin,@catalogue], :html => { :multipart => true } do |f|%>

<p>
<%= f.label 'Название' %><br />
<%=f.text_field :name%>
</p>


<p>
    <%= f.label 'относится к каталогу:' %><br />
    <%= f.select :parent_id, nested_set_options(Catalogue) {|i| "#{'--' * i.level} #{i.name}" }, {:include_blank => "не относится"} %>
</p>

<% unless @catalogue.new_record? %>
<p>Порядок в списке (перетаскивайте мышкой каталог):</p>
<ul id="sortable">
    <% @catalogue.self_and_siblings.each do |it| %>
      <li id="<%=it.id %>"><%=it.name%></li>
    <% end %>
</ul>
<%= hidden_field_tag 'sortable_ids' %>
<% end %>

<p>
<%=f.submit 'Сохранить изменения' %>
</p>
<%end%>

