Здравствуйте <%= @recipient.display_name %>!

<p><%= "Вы получили личное сообщение от #{@sender.display_name}." %></p>

<p><%= 'Вы можете прочитать данное сообщение на своей странице:' %>
<a href="<%= @messages_url %>"><%= @messages_url %></a></p>