<h1>Вход</h1>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <div id="login_container">
    <%= f.label :login, "логин" %><br />
    <%= f.text_field :login %><br />
    <br />
    <%= f.label :password, "пароль" %><br />
    <%= f.password_field :password %><br />
  </div>
 
  <br />
  <%= f.submit "Войти" %>
<% end %>