<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'facebox' %>
  <%= stylesheet_link_tag 'tooltip' %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_tag "var MODERATOR = true;" if moderator? %>
  <script type="text/javascript" src="/javascripts/jquery-1.2.6.pack.js"></script>
  <script type="text/javascript" src="/javascripts/jrails.js"></script
  <script type="text/javascript" src="/javascripts/preloader.js"></script>
  <script type="text/javascript" src="/javascripts/facebox/facebox.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tooltip.js"></script>
  <script type="text/javascript" src="/javascripts/own.tooltip.js"></script>
  <script type="text/javascript" src="/javascripts/own.js"></script>

  <%= for_forum() %>

</head>
<body>


<div id="page">

	<div id="header">
		<div id="banner"></div>
	</div>
	<div id="header_menu">
		<div id="logo_search">
			<div id="logo"><a href="/"><img src="/images/logo.gif" alt=""></a></div>
                        <div class="search">
                              <% form_tag(searches_path, :method => 'get') do %>
                                <div class="search_text"><%= text_field_tag :q, params[:q], :id => :q %></div>
                                <div class="search_submit"><input type="image" src="/images/search_button_light.gif"></div>
                              <% end %>
                        </div>
		</div>
		<div id="common_menu">
			<div id="menu_top">
				<div class="menu_links">
                                  <a href="/about_us">О проекте</a>
                                  <%= link_to 'Конкурс рейтингов', contest_path((current_contest.id rescue Contest.find(:first, :order => "date_end DESC").id))%>
                                  <a href="#">Карта сайта</a>
                                  <a href="/contacts">Обратная связь</a>
                                </div>
				<div class="vert_line"></div>
				
                                <% if !current_user %>
                                  <div class="exit"> <%= link_to "Войти", "#login", :style=>"margin-top:0px; padding-top:0px;", :rel => "facebox" %> <%= link_to image_tag('/images/registration.gif'), new_account_path %></div>
                                  <div id="login">
                                  <%= javascript_tag "$('#login').hide();" %>
                                  <h1>Вход</h1>
                                    <% form_for UserSession.new, :url => user_session_path do |f| %>
                                      <%= f.error_messages %>
                                      <div id="login_container">
                                        <%= f.label :login, "логин" %><br />
                                        <%= f.text_field :login %><br />
                                        <br />
                                        <%= f.label :password, "пароль" %><br />
                                        <%= f.password_field :password %><br />
                                      </div>

                                      <br />
                                      <%= f.submit "Войти" %>
                                      <p><%= link_to "Забыл пароль", new_password_reset_path %></p>
                                    <% end %>
                                  </div>

                                <% else %>
                                  <div class="login_info"><%= link_to image_tag(current_user.avatar.url(:thumb),:align=>"left"), account_path %><%= link_to current_user.name_or_login, account_path %></div>
                                  <div class="exit"><%= link_to "Выход", user_session_path, :method => :delete, :confirm => "Вы уверены, что хотите выйти?" %></div>
                                <% end %>
			</div>
			<div id="menu_bottom">
				<ul class="menu">
					<li <%= "class='active'" if request.path=="/" %> ><%= request.path=="/" ? "Главная" : link_to("Главная", "/") %></li>
					<li <%= "class='active'" if params[:controller]=="articles" %> ><%= link_to("Статьи", articles_path) %></li>
                                        <li <%= "class='active'" if params[:controller]=="therms" %> ><%=  link_to("Словарь", therms_path) %></li>
                                        <li <%= "class='active'" if params[:controller]=="dealing_centers" %> ><%=  link_to("Диллинговые центры", dealing_centers_path) %></li>
                                        <li <%= "class='active'" if params[:controller]=="videos" %> ><%= link_to("Видео", videos_path) %></li>
                                        <li <%= "class='active'" if params[:controller]=="books" %> ><%= link_to("Книги", books_path) %></li>
                                        <li <%= "class='active'" if params[:controller]=="events" %> ><%= link_to("События", events_path) %></li>
				</ul>
                                <% if admin? %>
                                  <ul class="menu admin_menu">
                                          <li <%= "class='active'" if params[:controller]=="admin/catalogues" %> ><%= link_to "Каталоги", admin_catalogues_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/therms" %> ><%= link_to "Словарь", admin_therms_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/queries" %> ><%= link_to "Запросы", admin_queries_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/users" %> ><%= link_to "Пользователи", admin_users_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/dealing_centers" %> ><%= link_to "Диллинговые центры", admin_dealing_centers_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/pages" %> ><%= link_to "Страницы", admin_pages_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/contests" %> ><%= link_to "Акции", admin_contests_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/videos" %> ><%= link_to "Видео", admin_videos_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/books" %> ><%= link_to "Книги", admin_books_path %></li>
                                          <li <%= "class='active'" if params[:controller]=="admin/events" %> ><%= link_to "События", admin_events_path %></li>
                                  </ul>
                                <% end %>
			</div>
			<div class="mfooter"></div>
			<div class="hr"><hr /></div>
		</div>
	</div>
	<div id="main">
          <!--div id="container"-->
    		<div id="leftbar">
    			<div id="menu">
                                        <%= catalogue_menu %>
					<div class="mfooter"></div>
    			</div>
                        <div class="news_block">
					<div class="title_left">Технический анализ</div>
					<div class="analize_left">
						<img src="/images/left_news_item.gif" alt="">
						 <select size="1" class="select">
							<option disabled>Выберите героя</option>
							<option value="Чебурашка">Чебурашка</option>
							<option selected value="Крокодил Гена">Крокодил Гена</option>
							<option value="Шапокляк">Шапокляк</option>
						<option value="Крыса Лариса">Крыса Лариса</option>
					    </select>
					</div>
				</div>
				<div class="news_block">
                                    <%= random_video %>
				</div>
				<div class="ad">
                                    <% tag_cloud @tags, %w(a b c d) do |tag, css_class| %>
                                      <%= link_to tag.name, { :controller => :articles,  :action => :tag, :id => tag.name }, :class => css_class %>
                                    <% end %>
				</div>
    		</div>
                <div id="middlebar">
                  <p style="color: green"><%= flash[:notice] %></p>
                  <p style="color: red"><%= flash[:error] if flash[:error] %></p>
                  <div class="hr"><hr /></div>
                  <span class="buffer"></span>
                  <%= yield  %>
    		</div>
	</div>
	<div class="mfooter"></div>
<div id="footer">

</div>
</div>


</body>
</html>
